
.card-habitacion {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-habitacion-image {
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-habitacion h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.card-habitacion p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.card-habitacion span {
  font-size: 1rem;
  color: #915ec2;
  font-weight: bold;
}
