.header-habitaciones {
    background-image: url("/img/fonditohabitaciones.jpg");
    background-size: cover;
    background-position: center;
    height: 300px; /* Altura fija para esta sección */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 16px; /* Margen interno para mejor ajuste en mobile */
  }
  
  .header-title {
    font-size: 1.8rem; /* Tamaño adaptado a mobile */
    font-weight: bold;
    margin-bottom: 8px; /* Espacio reducido */
  }
  
  .header-description {
    max-width: 335px; /* Ajustado para 375px con márgenes */
    font-size: 0.95rem; /* Tamaño más pequeño para mobile */
    line-height: 1.4;
  }
  